<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href='/stylesheets/register.css'/>
    <script src="/javascripts/checker.js"></script>
</head>
<body>
<div class="menu">
    <a href="/">Главная</a>
</div>
<div class="maincontainer">
    <h1>Регистрация</h1>
    <div class="container">

        <form enctype="multipart/form-data" method="post" id="regform" action="/auth">
            <% if(err != ""){ %>
                <span style="color: red; "><%= err %></span>
            <% } %>

            <input type="text" placeholder="User Name" name="username" id="user" required/>
            <input type="password" placeholder="Password" name="password" id="pass" required/>
            <p style="color:red;" hidden id="passerr">Повторный пороль не подходит</p>
            <input type="password" placeholder="Re-Password" id="repass" required/>
            <textarea class="about" name="description" placeholder="Обо мне"></textarea>
            Выберите изображение вашего профиля
            <input type="file" name="avatar" accept="image/*">
            Выберите дату вашего рождения
            <input type="date" name="date"/>
            <button onclick="checkAndSubmit()">OK</button>
        </form>
    </div>
</div>
</body>
</html>