<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>
<div class="menu">
    <a href="/">Главная</a>
</div>
<div class="maincontainer">
    <h1>Логин</h1>
    <div class="container">

        <form method="post" action="/auth/login">
            <% if(err != ""){ %>
            <span style="color: red; "><%= err %></span>
            <% } %>

            <input type="text" placeholder="User Name" name="username" id="user" required/>
            <input type="password" placeholder="Password" name="password" id="pass" required/>
            <button>OK</button>
        </form>
    </div>
</div>
</body>
</html>